

body {
  font-family: 'Open Sans', Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #2B2929;
    box-sizing: border-box;
}


.container {
    display: grid;
    grid-template-areas: 
        "profile about-me right-container"
        "profile about-me right-container "
        "profile work-experience right-container ";
    grid-template-columns: 1fr 3fr 1fr;
    grid-gap: 10px;
    padding: 10px;
}

.right-container{
  grid-area: right-container;
  display: grid;
  grid-template-areas:
      "switch"
      "tools";
  grid-template-rows: 1fr 10fr;
  /* background: #1F1E1E; */
  background: linear-gradient(to right, #262424 0%, #1A1818 1%);
  margin: -10px -10px -10px 0;
 
}


.experiences{
    display: flex;
    flex-direction: column; 
    justify-content: flex-start; 
    align-items: flex-start; 
    
}
.experience h4{
    background-color: #007bff;
    color: white;
    text-align: center;
    border-radius: 10px;
   
}



.work-experience{
	 grid-area: work-experience;
     background: #2B2929;
     padding: 20px;
     text-align: center;
}
